<li class="city-card">
  <div class="card" onclick="location.href='/city/?location={{this.location}}'">
    <img src="{{this.img}}"
      alt="Barcelona-Sagrada Familia">
    <h3>{{this.location}}</h3>
  </div>
</li>