<header class="site-header">
  <nav class="header-nav">
    <h1><a href="/">Yourneys</a></h1>
    <div class="profile-nav navbar-toggle-button" id="menu_trigger">
      <p class="icon icon-settings"></p>
    </div>
  </nav>
</header>

<div class="menu" id="menu">
  {{#if currentUser}}
    <p class="current-user">{{currentUser.username}}</p>
    <div class="profile-menu">
      <ul>
        <li><a href="'/profile/settings'">Settings</a></li>
        <li>
          <form method="POST" action="/auth/logout">
            <button type="submit" class="log-out">Log Out</button>
          </form>
        </li>
      </ul>
    </div>
  {{/if}}
</div>