<nav class="nav-bar site-menu">
  <ul>
    <li><a class="icon icon-globe" href="#"></a></li>
    <li><a class="icon icon-search" href="#"></a></li>
    <li><a class="icon icon-plus" href="/create"></a></li>
    <li><a class="icon icon-heart-o" href="#"></a></li>
    <li><a class="icon icon-grid" href="/"></a></li>
  </ul>
</nav>