<nav class="nav-bar site-menu">
  <ul>
    <li><a class="icon icon-home" href="/"></a></li>
    <li><a class="icon icon-search" href="/search"></a></li>
    <li><a class="icon icon-plus" href="/yourney/create"></a></li>
    <li><a class="icon icon-heart-o" href="/profile/favorite"></a></li>
    <li class="icon-profilepic"><a class="profile" href="/profile" style="background: url({{currentUser.profilepic}}) no-repeat center center; background-size: cover;"></a></li>
  </ul>
</nav>