<main class="container">
  <div class="info-site">
    <h2 class="title">My favorites</h2>
  </div>

  <ul class="cards">
    {{#each yourneys}}
      {{> yourneycard this}}
    {{/each}}
  </ul>
</main>