{{!-- YOURNEY CARD FOR THE HOME IF NOT --}}

{{!-- <main class="container">
  <h2>Yourneys</h2>

  <ul class="cards">
    {{#each yourneys}}   
      {{> yourneycard this}}
    {{/each}}
  </ul>
</main> --}}


<main class="container">
  <div class="info-site">
    <h2 class="">Explore</h2>
    <p>our top cities yourneys</p>
  </div>

  <h3>Cities</h3>

  <ul class="home-cards">
    {{#each cities}}
      {{> citycard this}}
    {{/each}}
  </ul>
</main>