<main class="container">
  <h2>Yourneys</h2>

  {{!-- {{yourneys}} --}}

  {{!-- <ul class="yourney-list">
    {{#each yourneys}}
      <li>{{>yourneycard}}</li>
    {{/each}}
  </ul> --}}

  <ul class="cards">
    {{#each yourneys}}   
      {{> yourneycard this}}
    {{/each}}
  </ul>
</main>


