{{!-- YOURNEY CARD FOR THE HOME IF NOT --}}

{{!-- <main class="container">
  <h2>Yourneys</h2>

  <ul class="cards">
    {{#each yourneys}}   
      {{> yourneycard this}}
    {{/each}}
  </ul>
</main> --}}


<main class="container">
  <h2>Cities</h2>

  <ul class="home-cards">
    {{#each cities}}
      {{> citycard this}}
    {{/each}}
  </ul>
</main>