<main class="container">
  <section id="layout-profile">
    <div class="profile-details">
      <div class="pic">
        <img src="{{user.url}}" alt="profile-pic" class="profile-pic">
      </div>
      <h2>{{user.username}}</h2>
      <div class="edit-profile">
        <a href="/profile/edit" class="button edit">Edit</a>
      </div>
    </div>
    <h3>About Me</h3>
    <p>{{user.description}}</p>
    <h3>Upcoming Yourneys</h3>
    {{#each yourneys}}
      {{> yourneycard this}}
    {{/each}}
  </section>
</main>

