<!DOCTYPE html>
<html>
  <head>
    <title>Yourneys</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-icon.css' />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400" rel="stylesheet"> --}}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="shortcut icon" href="../images/youneys-icon.png" type="image/x-icon">
  </head>
  <body>
    {{#if currentUser}}
      {{>header}}
    {{/if}}
      {{{body}}}
    {{#if currentUser}}
      {{>navbar}}
      <script src="/javascripts/profile-menu.js"></script>
    {{/if}}
    {{#unless currentUser}}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{/unless}}
    {{#if script}}
      <script src="/javascripts/{{script}}.js"></script>
    {{/if}}
  </body>
</html>
