<header class="site-header unique">
  <nav class="header-nav">
    <h1><a href="/">Yourneys</a></h1>
  </nav>
</header>

<main class="container">
  <h2>Log In</h2>

  <form method="POST" action="/auth/login">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" value="{{fields.username}}" placeholder="robinsoncrusoe" />
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter Password" />
    </div>

    <div class="field submit">
      <button type="submit" class="submit-button">Login</button>
    </div>
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}

    <hr>
    
    <div class="field submit">
      <a class="submit-button" href="/auth/signup" type="submit">Signup</a>
    </div>
  </form>
</main>
