<div class="slider">
  <ul id="slides">
    <li class="slide showing">
      <div class="text">
        <h1>Yourneys</h1>
        <p>Discover special spots in your favorite city like a local</p>
      </div>
    </li>
    <li class="slide">
      <div class="text">
        <h1>Yourneys</h1>
        <p>Search detailed Journeys and experiences created by people living in that city</p>
      </div>
    </li>
    <li class="slide">
      <div class="text">
        <h1>Yourneys</h1>
        <p>Locals recommend you what to do and where, so you feel part of the city</p>
      </div>
    </li>
  </ul>
  <a href="#" class="skip-link">Skip</a>    
</div>

<header class="site-header unique header-nav">
  <nav class="header-nav">
    <h1><a href="/">Yourneys</a></h1>
  </nav>
</header>

<main class="container">
  <h2>Log In</h2>

  <form method="POST" action="/auth/login">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" value="{{fields.username}}" placeholder="robinsoncrusoe" />
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter Password" />
    </div>

    <div class="field submit">
      <button type="submit" class="submit-button real">Login</button>
    </div>
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}

    <hr>
    
    <div class="field submit">
      <a class="submit-button link" href="/auth/signup" type="submit">Signup</a>
    </div>
  </form>
</main>

<script src="/javascripts/slide.js"></script>
