<main class="container">
  <form method="POST" action="/profile/edit">
    <div class="field">
      <img src="{{user.url}}" alt="">
    </div>

    <div class="field">
      <label></label>
      <input type="text" name="username" value="{{user.username}}" placeholder="Username" class="title-form" maxlength="15" />
    </div>

    <div class="field">
      <label>Description</label>
      <input type="text" name="description" value="{{user.description}}" placeholder="a brief description about me" />
    </div>

    <div class="field submit">
      <button type="submit" class="submit-button">Save</button>
    </div>
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}

  </form>
</main>