<main class="container">
  <form method="GET" action="/results">
    <div class="field">
      <label></label>
      <input type="text" name="name" value="{{fields.location}}" placeholder="Search city*" class="title-form" maxlength="15" />
    </div>

    <div class="field">
      <label>Date</label>
      <input type="date" name="date" value="{{fields.date}}" />
    </div>

    <div class="field select">
      <label class="option-label">Days</label>
      <div class="option-value">
        <select name="days">
          <option value="0">select</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5+">5+</option>
        </select>
      </div>
    </div>

    <div class="field submit">
      <button type="submit" class="submit-button">Search</button>
    </div>
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}

  </form>
</main>