<main class="container">
  <a href="/search">Back</a>
  <h2>Your search</h2>
  <ul class="cards">
    {{#unless yourneys.length}}   
      <p class="empty">No results</p>
    {{/unless}}

    {{#each yourneys}}
    {{> yourneycard this}}
    {{/each}}
  </ul>
</main>