<main class="container">
    <h3>Change your Password</h3>
  <form method="POST" action="/profile/settings">
      <input type="text" name="validPassword" value="" placeholder="Password" class="title-form" maxlength="15" />

      <input type="text" name= "newPassword" value="" placeholder="New password" class="title-form" maxlength="15" />


      <button type="submit" class="submit-button">Save</button>
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}
  </form>


</main>