<header id="site-header">
  <nav class="header-nav">
    <h1><a href="/">Yourneys</a></h1>
  </nav>
</header>

<main class="container">
  <h2>Sign Up</h2>

  <form method="POST" action="/auth/signup">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" value="{{fields.username}}" placeholder="Bilbo Beggins" />
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter your password" />
    </div>

    <div class="field submit">
      <button type="submit" class="submit-button">Signup</button>
    </div>
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}

    <hr>

    <div class="field submit">
      <a class="submit-button" href="/auth/login" type="submit">Login</a>
    </div>
  </form>
</main>
