<main class="container">
  <section id="yourney-details">
    <h2>BLABLA{{yourney.name}}</h2>
    <div class="details-link">
      <button type="submit" class="icon icon-heart"></button>
      <button type="submit" class="icon icon-share">S</button>
      <button type="submit" class="button add">Add</button>
    </div>
    <p>Created by {{yourney.owner}}</p>
    <p>Days {{yourney.days}}</p>
    <p>Description {{yourney.description}}</p>
  </section>
</main>
