// --- header
body {
  padding-bottom: 80px;
}

#site-header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    box-shadow:  0 -3px 11px #D4D5D4;
}

.header-nav {
  background-color: #FDFFFC;
  overflow: hidden;
  line-height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    flex: 1;

    a {
      text-decoration: none;
      color: #222;
    }
  }

  .profile-nav {
    flex: 1;
    text-align: right;
  
    img {
      width: 10%;
    }
  }
}

// --- nav-bar

.nav-bar {
  background-color: $color-bg;
  text-align: center;
  padding: 20px 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    display: inline;
    flex: 1;

    a {
      font-size: 20px;
    }

    .icon {
      text-decoration: none;
      color: $color-black;
    }
  }
}

// --- main
main {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 20px;
  padding-top: 120px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


#site-menu {
  overflow: hidden;
  background-color: $color-bg;
  position: fixed;
  bottom: 0;
  width: 100%;
}

// --- yourney-details

#yourney-details {
  .details-link {
    display: grid;
    width: 30%;
    float: right;

    .icon-heart {
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 10px;
    }

    .icon-share {
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 10px;
    }

    .add {
      grid-column: 1 / 3;
      grid-row: 3;
    }
  }
}