body {
  background-color: $color-bg;
  color: $color-black;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: $color-black;
}



h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 0;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  margin-bottom: 40px;
  font-size: 25px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

p {
  margin: 5px 0;
}

input, button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

// use with @include inverse()
// @mixin inverse() {
//   color: $color-inverse-fg;
//   background-color: $color-inverse-bg;

//   a {
//     color: $color-inverse-link;
//   }
// }