$color-black: #474646;
$color-bg: #FDFFFC;
$color-grey: #999999;
$color-shadow: #D4D5D4;
// $color-more-dark: #E4D2CB;
// $color-dark: #D2AFA6;

// $color-inverse-fg: #eee;  
// $color-inverse-bg: #111;
// $color-inverse-link: rgb(20, 137, 214);

// $color-aside-bg: #ccc; 

// $color-button-bg: #b1b1b1;
// $color-button-danger-bg: #ff4848;